## Task 1 - SQL

In [1]:
def newline():
    print("______________________________________________________ ______________________________________________________\n")

### Build SparkSession:

In [2]:
import findspark
findspark.init()
import pyspark
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [3]:
import pyspark.sql.functions as pyfn

### Read the json file:

In [4]:
json_file = spark.read.json("Data/DataFrames_sample.json")

### Display the schema:

In [5]:
json_file.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [6]:
json_file.show(1,truncate=False)

+----+----+---------+---+-----------+----+----------+-----+------+----+
|D   |H   |HDD      |Id |Model      |RAM |ScreenSize|W    |Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|1  |MacBook Pro|16GB|15"       |13.75|4.02  |2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+
only showing top 1 row

In [7]:
json_file.filter(json_file.Model=="MacBook Pro").show()

#onther Way 
newline()
json_file.select('*').where(pyfn.col('Model')=="MacBook Pro").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

______________________________________________________ ______________________________________________________

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [8]:
json_file.createOrReplaceTempView('Json_TempView')

### Display "RAM"column and count "RAM" column:

In [10]:
spark.sql("SELECT RAM, COUNT(RAM) as COUNT FROM Json_TempView GROUP BY RAM").show()

+----+-----+
| RAM|COUNT|
+----+-----+
|64GB|    1|
|16GB|    1|
| 8GB|    2|
+----+-----+

### Get all columns when "Year" column equal "2015"

In [11]:
json_file.select('*').where(pyfn.col('Year')=='2015').show()
newline()
spark.sql("select * from Json_TempView WHERE Year==2015").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

______________________________________________________ ______________________________________________________

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [12]:
spark.sql("select * from Json_TempView WHERE Model like 'M%' ").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [13]:
spark.sql("select * from Json_TempView WHERE Model =='MacBook Pro' ").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [14]:
spark.sql("select * from Json_TempView WHERE Model =='MacBook' AND RAM='8GB' ").show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [15]:
spark.sql("select * from Json_TempView WHERE D >=8 AND Model='iMac'").show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [16]:
test1 = spark.read.csv("data/test1.csv",header=True)

In [17]:
test1.show(1,truncate=False)

+-----+---+----------+------+
|Name |age|Experience|Salary|
+-----+---+----------+------+
|Krish|31 |10        |30000 |
+-----+---+----------+------+
only showing top 1 row

### Display Salary of the people less than or equal to 20000

In [18]:
test1.filter(test1["salary"]>=20000).show()

newline()
test1.select('*').where(pyfn.col('Salary') <= 20_000).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
+---------+---+----------+------+

______________________________________________________ ______________________________________________________

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [19]:
test1.filter((test1["salary"]<=20000) & (test1["salary"]>=15000) ).show()
newline()
test1.select('*').where((pyfn.col('Salary') <= 20_000) & (pyfn.col('Salary') >= 15_000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

______________________________________________________ ______________________________________________________

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [20]:
test3 = spark.read.csv("data/test3.csv",header=True,inferSchema=True)
test3.show(1,truncate=False)

+-----+------------+------+
|Name |Departments |salary|
+-----+------------+------+
|Krish|Data Science|10000 |
+-----+------------+------+
only showing top 1 row

### Display dataset

In [21]:
test3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [22]:
test3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [23]:
test3.select('*').groupBy('Name').agg(pyfn.count('Name').alias('Name count')).show()

+---------+----------+
|     Name|Name count|
+---------+----------+
|Sudhanshu|         3|
|    Sunny|         2|
|    Krish|         3|
|   Mahesh|         2|
+---------+----------+

In [24]:
##or ???
test3.select("*").groupBy("Name").agg(pyfn.sum('salary').alias('Sum salary')).show()

+---------+----------+
|     Name|Sum salary|
+---------+----------+
|Sudhanshu|     35000|
|    Sunny|     12000|
|    Krish|     19000|
|   Mahesh|      7000|
+---------+----------+

### Group by "Name" column and using avg function on "Name" column

In [25]:
test3.select("*").groupBy("Name").agg(pyfn.avg('salary').alias('avg salary')).show()

+---------+------------------+
|     Name|        avg salary|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [26]:
test3.select("Departments","Salary").groupBy("Departments").agg(pyfn.sum('salary').alias('Dep Sum salary')).show()

+------------+--------------+
| Departments|Dep Sum salary|
+------------+--------------+
|         IOT|         15000|
|    Big Data|         15000|
|Data Science|         43000|
+------------+--------------+

### Group by "Departments" column and using mean function on "Departments" column:

In [27]:
test3.select("Departments","Salary").groupBy("Departments").agg(pyfn.avg('salary').alias('Dep avg salary')).show()

+------------+--------------+
| Departments|Dep avg salary|
+------------+--------------+
|         IOT|        7500.0|
|    Big Data|        3750.0|
|Data Science|       10750.0|
+------------+--------------+

Group by "Departments" column and using count function on "Departments" column:

In [28]:
test3.select('*').groupBy('Departments').agg(pyfn.count('Departments').alias('Departments count')).show()

+------------+-----------------+
| Departments|Departments count|
+------------+-----------------+
|         IOT|                2|
|    Big Data|                4|
|Data Science|                4|
+------------+-----------------+

### Apply agg to using sum function get the total of salaries

In [29]:
test3.select('Salary').agg(pyfn.sum('Salary').alias('total_Salary')).show()

+------------+
|total_Salary|
+------------+
|       73000|
+------------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [30]:
ITI_data = spark.read.csv("data/ITI_data.csv",header=True,inferSchema=True)
ITI_data.show(1,truncate=False)

+---------+-----------+---+------------------+----------+------+------+-----------------+----+
|Ship_name|Cruise_line|Age|Tonnage           |passengers|length|cabins|passenger_density|crew|
+---------+-----------+---+------------------+----------+------+------+-----------------+----+
|Journey  |Azamara    |6  |30.276999999999997|6.94      |5.94  |3.55  |42.64            |3.55|
+---------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 1 row

In [31]:
ITI_data.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

### OneHotEncoder

In [32]:
from pyspark.ml.feature import OneHotEncoder , StringIndexer , VectorAssembler

In [33]:
String_inputs  = ["Cruise_line","Ship_name"]
String_outputs = ["Cruise_line_labels","Ship_name_labels"]
stringIndexer = StringIndexer(inputCols=String_inputs
                              , outputCols=String_outputs
                              ,handleInvalid='skip')

String_outputs_ohe = ["Cruise_line_ohe","Ship_name_ohe"]
ohEncod = OneHotEncoder(inputCols=String_outputs,outputCols=String_outputs_ohe)

###Use VectorAssembler to merge all columns into one column:

In [34]:
vecassembeler = VectorAssembler(inputCols=["Cruise_line_ohe","Ship_name_ohe","Age","Tonnage","passengers"
                                           ,"length","cabins","passenger_density"]
                                ,outputCol='features')

### Create a Linear Regression Model

In [35]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol='features',labelCol='crew')

### Creating a Pipeline

In [36]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[stringIndexer , ohEncod, vecassembeler,lr])

In [37]:
trainDF,testDF=ITI_data.randomSplit([0.8, 0.2],seed=42)
pipeline_model = pipeline.fit(trainDF)
prediction= pipeline_model.transform(testDF)
prediction.select(prediction["crew"],prediction["prediction"]).show()

+----+-------------------+
|crew|         prediction|
+----+-------------------+
|12.0| 14.832942881091435|
|8.69|  7.557573684481239|
| 6.3|  6.264005093100744|
|0.88|-2.8455066592947293|
|1.97| -2.268209913735122|
+----+-------------------+

### Model Evaluation

In [38]:
from pyspark.ml.evaluation import RegressionEvaluator
rmse = RegressionEvaluator(predictionCol="prediction", labelCol="crew",metricName="rmse").evaluate(prediction)
print(rmse)

2.86883507724863

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566