## You're here! 
Welcome to your first competition in the [ITI's AI Pro training program](https://ai.iti.gov.eg/epita/ai-engineer/)! We hope you enjoy and learn as much as we did prepairing this competition.


## Introduction

In the competition, it's required to predict the `Severity` of a car crash given info about the crash, e.g., location.

This is the getting started notebook. Things are kept simple so that it's easier to understand the steps and modify it.

Feel free to `Fork` this notebook and share it with your modifications **OR** use it to create your submissions.

### Prerequisites
You should know how to use python and a little bit of Machine Learning. You can apply the techniques you learned in the training program and submit the new solutions! 

### Checklist
You can participate in this competition the way you perefer. However, I recommend following these steps if this is your first time joining a competition on Kaggle.

* Fork this notebook and run the cells in order.
* Submit this solution.
* Make changes to the data processing step as you see fit.
* Submit the new solutions.

*You can submit up to 5 submissions per day. You can select only one of the submission you make to be considered in the final ranking.*


Don't hesitate to leave a comment or contact me if you have any question!

## Import the libraries

We'll use `pandas` to load and manipulate the data. Other libraries will be imported in the relevant sections.

In [246]:
import pandas as pd
import os

## Exploratory Data Analysis
In this step, one should load the data and analyze it. However, I'll load the data and do minimal analysis. You are encouraged to do thorough analysis!

Let's load the data using `pandas` and have a look at the generated `DataFrame`.

In [247]:
dataset_path = '/kaggle/input/car-crashes-severity-prediction/'

df = pd.read_csv(os.path.join(dataset_path, 'train.csv'))

print("The shape of the dataset is {}.\n\n".format(df.shape))

df.head()

The shape of the dataset is (6407, 16).

,ID,Lat,Lng,Bump,Distance(mi),Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Stop,Amenity,Side,Severity,timestamp
0,0,37.762150,-122.405660,False,0.044,False,False,False,False,False,False,False,True,R,2,2016-03-25 15:13:02
1,1,37.719157,-122.448254,False,0.000,False,False,False,False,False,False,False,False,R,2,2020-05-05 19:23:00
2,2,37.808498,-122.366852,False,0.000,False,False,False,False,False,False,True,False,R,3,2016-09-16 19:57:16
3,3,37.785930,-122.391080,False,0.009,False,False,True,False,False,False,False,False,R,1,2020-03-29 19:48:43
4,4,37.719141,-122.448457,False,0.000,False,False,False,False,False,False,False,False,R,2,2019-10-09 08:47:00

We've got 6407 examples in the dataset with 14 featues, 1 ID, and the `Severity` of the crash.

By looking at the features and a sample from the data, the features look of numerical and catogerical types. What about some descriptive statistics?

In [248]:
df=df.drop(columns=['ID','Bump','Roundabout'])

In [249]:
df

,Lat,Lng,Distance(mi),Crossing,Give_Way,Junction,No_Exit,Railway,Stop,Amenity,Side,Severity,timestamp
0,37.762150,-122.405660,0.044,False,False,False,False,False,False,True,R,2,2016-03-25 15:13:02
1,37.719157,-122.448254,0.000,False,False,False,False,False,False,False,R,2,2020-05-05 19:23:00
2,37.808498,-122.366852,0.000,False,False,False,False,False,True,False,R,3,2016-09-16 19:57:16
3,37.785930,-122.391080,0.009,False,False,True,False,False,False,False,R,1,2020-03-29 19:48:43
4,37.719141,-122.448457,0.000,False,False,False,False,False,False,False,R,2,2019-10-09 08:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6402,37.740630,-122.407930,0.368,False,False,False,False,False,False,False,R,3,2017-10-01 18:36:13
6403,37.752755,-122.402790,0.639,False,False,True,False,False,False,False,R,2,2018-10-23 07:40:27
6404,37.726304,-122.446015,0.000,False,False,True,False,False,False,False,R,2,2019-10-28 15:45:00
6405,37.808090,-122.367211,0.000,False,False,True,False,False,False,False,R,3,2019-05-04 13:45:31
6406,37.773745,-122.408515,0.000,True,False,False,False,False,False,False,R,2,2020-02-28 19:43:00

In [250]:
df.groupby('Side').count()

,Lat,Lng,Distance(mi),Crossing,Give_Way,Junction,No_Exit,Railway,Stop,Amenity,Severity,timestamp
Side,,,,,,,,,,,,
L,325,325,325,325,325,325,325,325,325,325,325,325
R,6082,6082,6082,6082,6082,6082,6082,6082,6082,6082,6082,6082

In [251]:
df['Crossing'] = df['Crossing'].astype('int')
df['Give_Way'] = df['Give_Way'].astype('int')
df['Junction'] = df['Junction'].astype('int')
df['No_Exit'] = df['No_Exit'].astype('int')
df['Railway'] = df['Railway'].astype('int')
df['Stop'] = df['Stop'].astype('int')
df['Amenity'] = df['Amenity'].astype('int')
df

,Lat,Lng,Distance(mi),Crossing,Give_Way,Junction,No_Exit,Railway,Stop,Amenity,Side,Severity,timestamp
0,37.762150,-122.405660,0.044,0,0,0,0,0,0,1,R,2,2016-03-25 15:13:02
1,37.719157,-122.448254,0.000,0,0,0,0,0,0,0,R,2,2020-05-05 19:23:00
2,37.808498,-122.366852,0.000,0,0,0,0,0,1,0,R,3,2016-09-16 19:57:16
3,37.785930,-122.391080,0.009,0,0,1,0,0,0,0,R,1,2020-03-29 19:48:43
4,37.719141,-122.448457,0.000,0,0,0,0,0,0,0,R,2,2019-10-09 08:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6402,37.740630,-122.407930,0.368,0,0,0,0,0,0,0,R,3,2017-10-01 18:36:13
6403,37.752755,-122.402790,0.639,0,0,1,0,0,0,0,R,2,2018-10-23 07:40:27
6404,37.726304,-122.446015,0.000,0,0,1,0,0,0,0,R,2,2019-10-28 15:45:00
6405,37.808090,-122.367211,0.000,0,0,1,0,0,0,0,R,3,2019-05-04 13:45:31
6406,37.773745,-122.408515,0.000,1,0,0,0,0,0,0,R,2,2020-02-28 19:43:00

In [252]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
enc.fit(df['Side'])
df['Side'] = enc.transform(df['Side'])

In [253]:
df

,Lat,Lng,Distance(mi),Crossing,Give_Way,Junction,No_Exit,Railway,Stop,Amenity,Side,Severity,timestamp
0,37.762150,-122.405660,0.044,0,0,0,0,0,0,1,1,2,2016-03-25 15:13:02
1,37.719157,-122.448254,0.000,0,0,0,0,0,0,0,1,2,2020-05-05 19:23:00
2,37.808498,-122.366852,0.000,0,0,0,0,0,1,0,1,3,2016-09-16 19:57:16
3,37.785930,-122.391080,0.009,0,0,1,0,0,0,0,1,1,2020-03-29 19:48:43
4,37.719141,-122.448457,0.000,0,0,0,0,0,0,0,1,2,2019-10-09 08:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6402,37.740630,-122.407930,0.368,0,0,0,0,0,0,0,1,3,2017-10-01 18:36:13
6403,37.752755,-122.402790,0.639,0,0,1,0,0,0,0,1,2,2018-10-23 07:40:27
6404,37.726304,-122.446015,0.000,0,0,1,0,0,0,0,1,2,2019-10-28 15:45:00
6405,37.808090,-122.367211,0.000,0,0,1,0,0,0,0,1,3,2019-05-04 13:45:31
6406,37.773745,-122.408515,0.000,1,0,0,0,0,0,0,1,2,2020-02-28 19:43:00

In [254]:
df.groupby('Side').count()

,Lat,Lng,Distance(mi),Crossing,Give_Way,Junction,No_Exit,Railway,Stop,Amenity,Severity,timestamp
Side,,,,,,,,,,,,
0,325,325,325,325,325,325,325,325,325,325,325,325
1,6082,6082,6082,6082,6082,6082,6082,6082,6082,6082,6082,6082

Time Stamp data

In [255]:
df['Dates'] = pd.to_datetime(df['timestamp']).dt.date
df['Dates']
df['Time'] = pd.to_datetime(df['timestamp']).dt.time
df['Time'].astype(str)

0       15:13:02
1       19:23:00
2       19:57:16
3       19:48:43
4       08:47:00
          ...
6402    18:36:13
6403    07:40:27
6404    15:45:00
6405    13:45:31
6406    19:43:00
Name: Time, Length: 6407, dtype: object

In [256]:
correlation = df['Side'].corr(df['Severity'])
correlation

0.06054507330428682

In [257]:
df

,Lat,Lng,Distance(mi),Crossing,Give_Way,Junction,No_Exit,Railway,Stop,Amenity,Side,Severity,timestamp,Dates,Time
0,37.762150,-122.405660,0.044,0,0,0,0,0,0,1,1,2,2016-03-25 15:13:02,2016-03-25,15:13:02
1,37.719157,-122.448254,0.000,0,0,0,0,0,0,0,1,2,2020-05-05 19:23:00,2020-05-05,19:23:00
2,37.808498,-122.366852,0.000,0,0,0,0,0,1,0,1,3,2016-09-16 19:57:16,2016-09-16,19:57:16
3,37.785930,-122.391080,0.009,0,0,1,0,0,0,0,1,1,2020-03-29 19:48:43,2020-03-29,19:48:43
4,37.719141,-122.448457,0.000,0,0,0,0,0,0,0,1,2,2019-10-09 08:47:00,2019-10-09,08:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6402,37.740630,-122.407930,0.368,0,0,0,0,0,0,0,1,3,2017-10-01 18:36:13,2017-10-01,18:36:13
6403,37.752755,-122.402790,0.639,0,0,1,0,0,0,0,1,2,2018-10-23 07:40:27,2018-10-23,07:40:27
6404,37.726304,-122.446015,0.000,0,0,1,0,0,0,0,1,2,2019-10-28 15:45:00,2019-10-28,15:45:00
6405,37.808090,-122.367211,0.000,0,0,1,0,0,0,0,1,3,2019-05-04 13:45:31,2019-05-04,13:45:31
6406,37.773745,-122.408515,0.000,1,0,0,0,0,0,0,1,2,2020-02-28 19:43:00,2020-02-28,19:43:00

In [258]:
for i in range(len(df)):
       df['Time'][i]=df['Time'].astype(str).str.split(":")[i][0]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [260]:
df

,Lat,Lng,Distance(mi),Crossing,Give_Way,Junction,No_Exit,Railway,Stop,Amenity,Side,Severity,timestamp,Dates,Time
0,37.762150,-122.405660,0.044,0,0,0,0,0,0,1,1,2,2016-03-25 15:13:02,2016-03-25,15
1,37.719157,-122.448254,0.000,0,0,0,0,0,0,0,1,2,2020-05-05 19:23:00,2020-05-05,19
2,37.808498,-122.366852,0.000,0,0,0,0,0,1,0,1,3,2016-09-16 19:57:16,2016-09-16,19
3,37.785930,-122.391080,0.009,0,0,1,0,0,0,0,1,1,2020-03-29 19:48:43,2020-03-29,19
4,37.719141,-122.448457,0.000,0,0,0,0,0,0,0,1,2,2019-10-09 08:47:00,2019-10-09,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6402,37.740630,-122.407930,0.368,0,0,0,0,0,0,0,1,3,2017-10-01 18:36:13,2017-10-01,18
6403,37.752755,-122.402790,0.639,0,0,1,0,0,0,0,1,2,2018-10-23 07:40:27,2018-10-23,07
6404,37.726304,-122.446015,0.000,0,0,1,0,0,0,0,1,2,2019-10-28 15:45:00,2019-10-28,15
6405,37.808090,-122.367211,0.000,0,0,1,0,0,0,0,1,3,2019-05-04 13:45:31,2019-05-04,13
6406,37.773745,-122.408515,0.000,1,0,0,0,0,0,0,1,2,2020-02-28 19:43:00,2020-02-28,19

In [262]:
df['Time'] = df['Time'].astype(np.int)
df['Time'] = df['Time'].replace([0,1,2,3,4,5,6,7],1)
df['Time'] = df['Time'].replace([8,9,10,11,12,13,14,15],2)
df['Time'] = df['Time'].replace([16,17,18,19,20,21,22,23,24],3)
df.head()

,Lat,Lng,Distance(mi),Crossing,Give_Way,Junction,No_Exit,Railway,Stop,Amenity,Side,Severity,timestamp,Dates,Time
0,37.762150,-122.405660,0.044,0,0,0,0,0,0,1,1,2,2016-03-25 15:13:02,2016-03-25,2
1,37.719157,-122.448254,0.000,0,0,0,0,0,0,0,1,2,2020-05-05 19:23:00,2020-05-05,3
2,37.808498,-122.366852,0.000,0,0,0,0,0,1,0,1,3,2016-09-16 19:57:16,2016-09-16,3
3,37.785930,-122.391080,0.009,0,0,1,0,0,0,0,1,1,2020-03-29 19:48:43,2020-03-29,3
4,37.719141,-122.448457,0.000,0,0,0,0,0,0,0,1,2,2019-10-09 08:47:00,2019-10-09,2

In [245]:
df['Time']

0        1
1        1
2        1
3        1
4        1
        ..
6402    18
6403    07
6404    15
6405    13
6406    19
Name: Time, Length: 6407, dtype: object

The output shows desciptive statistics for the numerical features, `Lat`, `Lng`, `Distance(mi)`, and `Severity`. I'll use the numerical features to demonstrate how to train the model and make submissions. **However you shouldn't use the numerical features only to make the final submission if you want to make it to the top of the leaderboard.**

## Data Splitting

Now it's time to split the dataset for the training step. Typically the dataset is split into 3 subsets, namely, the training, validation and test sets. In our case, the test set is already predefined. So we'll split the "training" set into training and validation sets with 0.8:0.2 ratio. 

*Note: a good way to generate reproducible results is to set the seed to the algorithms that depends on randomization. This is done with the argument `random_state` in the following command*

In [128]:
from sklearn.model_selection import train_test_split

train_df, val_df = train_test_split(df, test_size=0.2, random_state=42) # Try adding `stratify` here

X_train = train_df.drop(columns=['ID', 'Severity'])
y_train = train_df['Severity']

X_val = val_df.drop(columns=['ID', 'Severity'])
y_val = val_df['Severity']

KeyError: "['ID'] not found in axis"

As pointed out eariler, I'll use the numerical features to train the classifier. **However, you shouldn't use the numerical features only to make the final submission if you want to make it to the top of the leaderboard.**

In [ ]:
# This cell is used to select the numerical features. IT SHOULD BE REMOVED AS YOU DO YOUR WORK.
X_train = X_train[['Lat', 'Lng', 'Distance(mi)']]
X_val = X_val[['Lat', 'Lng', 'Distance(mi)']]

## Model Training

Let's train a model with the data! We'll train a Random Forest Classifier to demonstrate the process of making submissions.

In [ ]:
from sklearn.ensemble import RandomForestClassifier

# Create an instance of the classifier
classifier = RandomForestClassifier(max_depth=2, random_state=0)

# Train the classifier
classifier = classifier.fit(X_train, y_train)

Now let's test our classifier on the validation dataset and see the accuracy.

In [ ]:
print("The accuracy of the classifier on the validation set is ", (classifier.score(X_val, y_val)))

Well. That's a good start, right? A classifier that predicts all examples' `Severity` as 2 will get around 0.63. You should get better score as you add more features and do better data preprocessing.

## Submission File Generation

We have built a model and we'd like to submit our predictions on the test set! In order to do that, we'll load the test set, predict the class and save the submission file. 

First, we'll load the data.

In [ ]:
test_df = pd.read_csv(os.path.join(dataset_path, 'test.csv'))
test_df.head()

Note that the test set has the same features and doesn't have the `Severity` column.
At this stage one must **NOT** forget to apply the same processing done on the training set on the features of the test set.

Now we'll add `Severity` column to the test `DataFrame` and add the values of the predicted class to it.

**I'll select the numerical features here as I did in the training set. DO NOT forget to change this step as you change the preprocessing of the training data.**

In [ ]:
X_test = test_df.drop(columns=['ID'])

# You should update/remove the next line once you change the features used for training
X_test = X_test[['Lat', 'Lng', 'Distance(mi)']]

y_test_predicted = classifier.predict(X_test)

test_df['Severity'] = y_test_predicted

test_df.head()

Now we're ready to generate the submission file. The submission file needs the columns `ID` and `Severity` only.

In [ ]:
test_df[['ID', 'Severity']].to_csv('/kaggle/working/submission.csv', index=False)

The remaining steps is to submit the generated file and are as follows. 

1. Press `Save Version` on the upper right corner of this notebook.
2. Write a `Version Name` of your choice and choose `Save & Run All (Commit)` then click `Save`.
3. Wait for the saved notebook to finish running the go to the saved notebook.
4. Scroll down until you see the output files then select the `submission.csv` file and click `Submit`.

Now your submission will be evaluated and your score will be updated on the leaderboard! CONGRATULATIONS!!

## Conclusion

In this notebook, we have demonstrated the essential steps that one should do in order to get "slightly" familiar with the data and the submission process. We chose not to go into details in each step to keep the welcoming notebook simple and make a room for improvement.

You're encourged to `Fork` the notebook, edit it, add your insights and use it to create your submission.